/*
****************************
	Total scope
 ****************************
  */

*{
	margin:0;
	line-height: 200%;
	/* font-family: 'Lato', sans-serif; */
	font-family: 'Raleway', sans-serif;

}

p,h1, h3{
	opacity: .6;
}

.sectionTitle{

	text-align: center;
	font-size: 45px;
	font-weight:200;
	padding-top: 30px;
	

}

hr{
	width:60vh;
	margin:0 auto;
	margin-bottom: 40px;
}

.inline{
	display: inline-block;
}


.sectionPadding{
	padding:  1vh 20vw;
}
/*
****************************
 Navigation
 ****************************
  */
.nav{
	margin:0;
	background: #282828;
	padding: 20px 0px;

	
}
.nav ul{
	padding: 0 15px;
}
.nav ul li{
	
	display: inline;
	margin-right: 25px;
	font-size: 18px;
	opacity: 0.8;
}

.nav a{
	color:white;
	list-style-type: none;
	text-decoration: none;
}

/*
****************************
 Header
 ****************************
  */

header{
	background: url("./assets/img/header_bg2.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	height:100vh;
	width:100%;
	text-align: center;
	border:white solid 1px; /* if I don't this it shifts down, wtf? */
}

header p{

	font-size: 60px;
}

header p:first-of-type{
	margin-top: 40vh;
	}


	/*
****************************
 Designer + Coder + Skills
 ****************************
  */

 /*  Part Designer Section
 */
.partDesigner{
	background: url("./assets/img/bg/divider12.png");
	background-size: cover;
	background-repeat:no-repeat;
	/* background-position: center; */
	color:white;
	text-align: center;
	padding-bottom: 30px;

}
.partDesigner h1{
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	opacity: 0.8;
	
}
.partDesigner p{
	margin: 20px auto;
	width: 50vw;
	font-size: 25px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	opacity: 0.8;
}

/*  Part Coder Section
 */
	.partCoder{
	background: url("./assets/img/bg/divider22.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	/* background-position: center; */
	color:white;
	text-align: center;
	padding-bottom: 100px;
	padding-top:100px;

}
.partCoder h1{
	opacity: 0.8;
}
.partCoder p{
	opacity: 0.8;

	font-size: 25px;
}


/*  Part Skills
 */

 .skills h1{
 	opacity: 1;
 	color:black;
	

 }

.skills{
	
	position:relative;
}

 .skill_sqr{

 	display:inline-block;
 	width:13vw;
 	/*  */
 	margin: 0 0.5vw;
 	height: 500px;
 	position:relative;
 	text-align: center;

 }
/* #69B7AE
	#A7D6D1
 */
 #html_skill{
 	position:absolute;
 	outline:black;
/* 	color:#D5EFEC; */
 	width:100%;
 	bottom:0;
 	height: 95%;
 	background: #69B7AE; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#A7D6D1, #69B7AE ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A7D6D1, #69B7AE ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A7D6D1, #69B7AE ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A7D6D1, #69B7AE ); /* Standard syntax */
 }

#html_skill .skill_percentage{

}

#html_skill .skill_name{

}
  #css_skill{
 	position:absolute;
 	width:100%;
 	bottom:0;
 	height: 80%;
 	/* color: #FFF3F0; */
 	background: #E2B0A0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F3D9D2, #E2B0A0 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F3D9D2, #E2B0A0 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F3D9D2, #E2B0A0 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F3D9D2, #E2B0A0 ); /* Standard syntax */
 }


/* 
 #E2B340
#ECC15A
  */
  #js_skill{
 	position:absolute;
 	width:100%;
 	bottom:0;
 	height: 95%;
 /* 	color:#FFDB85; */
 	background: #E2B340; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ECC15A, #E2B340 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ECC15A, #E2B340 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ECC15A, #E2B340 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ECC15A, #E2B340 ); /* Standard syntax */
 }

/* #C49965
#DAB780 */
  #wp_skill{
 	position:absolute;
 	width:100%;
 	bottom:0;
 	height: 95%;
 	/* color: #FFE4BB; */
 	background: #C49965; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#DAB780, #C49965 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAB780, #C49965 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAB780, #C49965 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAB780, #C49965 ); /* Standard syntax */
 }
 }


 .skill_name{
	position:absolute;
	bottom:10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	font-size:30px;
	font-weight: 500;
	color:black;
	border: blue 4px solid;
 }

 .skill_percentage{
	position:absolute;
	bottom:80px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	font-size:60px;
	font-weight: 500;
	color:white;
	opacity: 0.6;
 }
/*
****************************
 Contact
 ****************************
  */

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }


.contact a{
	color: #00bcd4 ;
}
