/*
****************************
	Total scope
 ****************************
  */

*{
	margin:0;
	line-height: 200%;
	/* font-family: 'Lato', sans-serif; */
	font-family: 'Raleway', sans-serif;

}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p{
    font-size: 20px;
}


p,h1, h3, h4{
	opacity: .6;
}

.sectionTitle{

	text-align: center;
	font-size: 50tpx;
	font-weight:200;
	padding-top: 30px;
	

}

hr{
	width:60vh;
	margin:0 auto;
	margin-bottom: 40px;
}

.inline{
	display: inline-block;
}


/* Use this class for all sections that have lateral padding (e.g. About Section)
 */
.sectionPadding{
    padding:  1vh 15vw;

}
/*
****************************
 Navigation
 ****************************
  */
.nav{
	#display:inline-block;
	position: fixed;
	margin:0;
	width:100%;
	background: #2B2B2B;
	padding: 20px 0px;
    z-index: 1;
	
}
.nav ul{
	padding: 0 15px;
}
.nav ul li{
	
	display: inline;
	margin-right: 25px;
	font-size: 16px;
	opacity: 0.8;
}

.nav a{
	color:white;
	list-style-type: none;
	text-decoration: none;
}

/*
****************************
 Header
 ****************************
  */

header{
	background: url("./assets/img/header_bg2.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	height:100vh;
	width:100%;
    background-position: center;
	text-align: center;
	border:white solid 1px; /* if I don't this it shifts down, wtf? */
}

header p{
    font-family: 'sans-serif';
    font-size: 50px;
    margin: 0 auto;
    opacity: 1;
    text-shadow: 1px 3px white;
}


header p:first-of-type{
	margin-top: 40vh;
}


	/*
****************************
 Designer + Coder + Skills
 ****************************
  */

 /*  Part Designer Section
 */
.partDesigner{
	background: url("./assets/img/bg/divider12.png");
	background-size: cover;
	background-repeat:no-repeat;
	/* background-position: center; */
	color:white;
	text-align: center;
	padding-bottom: 20px;

}
.partDesigner h1{
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	opacity: 0.8;
	
}
.partDesigner p{
	margin: 20px auto;
	width: 70vw;
	font-size: 25px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	opacity: 0.8;
}

/*  Part Coder Section
 */
.partCoder{
	background: url("./assets/img/bg/divider22.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	/* background-position: center; */
	color:white;
	text-align: center;
	padding-bottom: 100px;
	padding-top:20px;

}
.partCoder h1{
	opacity: 0.8;
}
.partCoder p{
	opacity: 0.8;
	font-size: 25px;
}


/*  Part Skills
 */

 .skills h1{
 	/*opacity: 1;*/
 	color:black;
 }

.skills{
	background-color: #f5f5f5;
	position:relative;
}

 .skill_sqr{
 	display:inline-block;
 	width:23%;
 	margin: 0 0.5%;
 	height: 300px;
 	position:relative;
 	text-align: center;
 }

 #html_skill{
 	position:absolute;
 	outline:black;
 	width:100%;
 	bottom:0;
 	height: 95%;
 	background: #69B7AE; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#A7D6D1, #69B7AE ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A7D6D1, #69B7AE ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A7D6D1, #69B7AE ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A7D6D1, #69B7AE ); /* Standard syntax */
 }


  #css_skill{
 	position:absolute;
 	width:100%;
 	bottom:0;
 	height: 80%;
 	background: #E2B0A0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F3D9D2, #E2B0A0 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F3D9D2, #E2B0A0 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F3D9D2, #E2B0A0 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F3D9D2, #E2B0A0 ); /* Standard syntax */
 }


/* 
 #E2B340
#ECC15A
  */
  #js_skill{
 	position:absolute;
 	width:100%;
 	bottom:0;
 	height: 90%;
 	background: #E2B340; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ECC15A, #E2B340 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ECC15A, #E2B340 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ECC15A, #E2B340 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ECC15A, #E2B340 ); /* Standard syntax */
 }
 

/* #C49965
/* #C49965
#DAB780 */
  #wp_skill{
 	position:absolute;
 	width:100%;
 	bottom:0;
 	height: 80%;
 	background: #C49965; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#DAB780, #C49965 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAB780, #C49965 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAB780, #C49965 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAB780, #C49965 ); /* Standard syntax */
 }


 .skill_name{
	position:absolute;
	bottom:30px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
    word-wrap: break-word;
	right: 0;
	font-size:20px;
	font-weight: 400;
	color:white; 
	text-shadow: 0px -.5px rgba(0, 0, 0, 1);
}

 .skill_percentage{
	position:absolute;
	bottom:50px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	font-size:35px;
	font-weight: 500;
	color:white;
	opacity: 0.4;

 }


/*PORTFOLIO*/
/*===========================*/

.buttonsContainer {
    display: flex;
    flex-direction: row;
    width: 62vh;
    text-align: center;
    margin: 0 auto;
}


.button{
    width: 24%;
    margin: 0 auto;
    background-color: #808080;
    color: white;
    padding: 5px
}

.button p{
    font-size: 16px;
    opacity: 1;
}

/*for the greeen active button*/
.active {
    background-color: #32cd32;
}

/*IMAGES*/
/*================================*/

.portfolioImages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolioImages img{
    
    display: flex;
    flex-direction: row;
    max-width: 94%;
    padding-left: 3%;
}   



.singleImage{
    
    display: flex;  
    max-width: 23%;
    margin : 1em;
    align-self: flex-end;
}

.singleImage figcaption{
    position: relative;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    background-color: #3498db;
    padding: 8px;
    justify-content: space-around;
}

.singleImage h5 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #3498db;
    padding: 8px;

    
}

.singleImage a {
    color: white;
    background-color: #2f2f2f;
    padding: 5px;
    
}




/*
****************************
 Blog
 ****************************
  */

#blog {
 background-color: #f5f5f5;	
}

/*The parent class instructs that the following divs will be displayed with flex */
#parent {
	display:flex;
}

/*The first and second columns will take 40 percent of the page width each. The last column takes only the 20% remaining.*/
#first {
	flex:80;
	background-color: white;
	display: flex;/*Here we instruct that inner objects will be using flex too*/
	} 

#second {
	flex:80;
	background-color: white;
	display:flex;}
	
/*This is box where the image of the blogger is placed*/
.writer {
	flex: 1;
	background-color: #2B2B2B;
	color: white;
	text-align: center;
}

/* This applies to the introductory text of the blog entry*/
.intro{
	flex: 3;
	padding: 42px;
}	

/*This one is the third column, with the least recent blog entries (only the title is shown)*/
#others {
	flex:20;
    display: flex;
    padding-left: 15px;
	}

.others-list {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    align-self: flex-end;
}

.others-list p{
    opacity: 0.8;
}

.others-list li{
    list-style-type: none;
 
    color: white;
}

.others-box a{
	color:#1A8AE0;
    font-size: 16px;
    vertical-align: bottom;
}

.others-box {
	background-color: #2B2B2B;
	padding: 20px;
    padding-top: 25px;
    height: 100%;
    margin-top: 13px;
}

.blog-date {
	font-weight: normal;
	font-size: 0.7em;
}




/*
****************************
 Crafted in Zurich
 ****************************
  */
.craftedinZurich{
	background: url("./assets/img/bg/divider661.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	height:750px; 
	text-align: center;


}

.craftedinZurich h1{
	text-align: center;
	font-size: 60px;
	font-weight:200;
	padding-top: 200px;
	color:white;
	opacity: 1;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.craftedinZurich p{
	color:white;
	font-size: 40px;
	font-weight:200;
	opacity: .9	;

}
/*
****************************
 Contact
 ****************************
  */



.columns {
    display: flex;
}

.column-left{
    flex:35;
}


.column-center{
    flex:30;
}


.column-right{
    flex:30;
}

.contact{
    padding:  1vh 8vw;
	padding-bottom: 100px;
}


.contact a{
	color: #1A8AE0 ;
}

/*
****************************
 Page Footer
 ****************************
  */

  .pg_footer{
  	padding: 70px;
  	
  	text-align: center;
  	background-color: #2B2B2B;
  }

  .pg_footer h4{
  	color:white;
  	font-weight:200;
  	font-size: 20px;
  }

  .pg_footer a{
  	color:#1A8AE0;
	opacity: 1;
  	font-weight: 400;
  	text-decoration: none;
  }







