
.nav ul li{
	font-size: 16px;
}

header p{
    font-size: 50px;
}

/*
****************************
 About me
****************************
  */

.partDesigner p{
	width: 70vw;
}

.partCoder{
	padding-top:20px;
}

hr{
	width:80%;
	margin:0 auto;
	margin-bottom: 40px;
}

.sectionTitle{

	text-align: center;
	font-size: 35px;
	font-weight:200;
	padding-top: 30px;
}

/*
****************************
 Part Skills
****************************
  */

 .skill_sqr{
 	height: 300px;
 }


 .skills h1{
 	/*opacity: 1;*/
 	color:black;
 }

.skills{
	background-color: #f5f5f5;
	position:relative;
}

.skill_sqr{
 	display:block;
 	width: inherit;
 	margin: 6px 0.5%;
 	height: 100px;
 	position:relative;
 	text-align: left;
 }

 #html_skill{
 	position: absolute;
 	outline:black;
 	width:95%;
 	bottom:0;
 	height: 100%;
 	background: #69B7AE; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#A7D6D1, #69B7AE ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A7D6D1, #69B7AE ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A7D6D1, #69B7AE ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A7D6D1, #69B7AE ); /* Standard syntax */
 }


  #css_skill{
 	position:absolute;
 	width:80%;
 	bottom:0;
 	height: 100%;
 	background: #E2B0A0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F3D9D2, #E2B0A0 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F3D9D2, #E2B0A0 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F3D9D2, #E2B0A0 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F3D9D2, #E2B0A0 ); /* Standard syntax */
 }

/* 
 #E2B340
#ECC15A
  */
  #js_skill{
 	position:absolute;
 	width:90%;
 	bottom:0;
 	height: 100%;
 	background: #E2B340; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ECC15A, #E2B340 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ECC15A, #E2B340 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ECC15A, #E2B340 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ECC15A, #E2B340 ); /* Standard syntax */
 }
 

/* #C49965
/* #C49965
#DAB780 */
  #wp_skill{
 	position:absolute;
 	width:80%;
 	bottom:0;
 	height: 100%;
 	background: #C49965; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#DAB780, #C49965 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DAB780, #C49965 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DAB780, #C49965 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DAB780, #C49965 ); /* Standard syntax */
 }


 .skill_name{
	position:absolute;
	bottom:30px;
	margin-left: 5%;
	margin-right: auto;
	left: 0;
	right: 0;
	font-size:25px;
	font-weight: 400;
	color:white; 
	text-shadow: 0px -.5px rgba(0, 0, 0, 1);
}

 .skill_percentage{
	position:initial;
	bottom:50px;
	margin-left: 56%;
	margin-right: auto;
	left: 0;
	right: 0;
	font-size:50px;
	font-weight: 500;
	color:white;
	opacity: 0.4;
 }

.skill_percentage span {
    vertical-align: middle;    
}


/*
****************************
 Portofolio
****************************
  */






/*
****************************
 Blog
****************************
  */


.columns {
    display: block;
}

#first {display: block;}

#second{display:block;}

#parent {
	display: block;
}

#others {
    display:inline;
}

.craftedinZurich h1 {
    font-size: 40px;
}


/*
****************************
 Contact
****************************
  */


.columns {
    display: block;
}

.column-left{
    padding-bottom: 8%;
    flex:none;
}

.column-center{
   padding-bottom: 10%;
   flex: none;
}

.column-right{
     padding-bottom: 0%;
    flex: none;
}

.contact{
    padding:  vh 8vw;
	padding-bottom: 100px;
}



